@inherits LayoutComponentBase

<div class="driver-layout">
    <nav>
        <ul>
            <li><a href="/driver/my-job">My Job</a></li>
            <li><a href="/driver/live-map">Tow Site Map</a></li>
            <li><a href="/driver/status-update">Job Status</a></li>
        </ul>
    </nav>

    <main>
        @Body
    </main>
</div>
