@inherits LayoutComponentBase

<div class="guest-layout">
    <nav>
        <ul>
            <li><a href="/guest/my-requests">My Requests</a></li>
            <li><a href="/guest/new-request">New Tow Request</a></li>
            <li><a href="/guest/driver-tracker">Track Driver</a></li>
        </ul>
    </nav>

    <main>
        @Body
    </main>
</div>
