@inject UserContext UserContext
@inject IJSRuntime JS

<ul class="nav nav-pills flex-column p-3">
    @switch (UserContext.Role)
    {
        case UserRoles.Administrator:
        case UserRoles.CompanyAdministrator:
            <li class="nav-item mb-1">
                <NavLink class="nav-link" href="/admin/dashboard" Match="NavLinkMatch.All" @onclick="CloseSidebar">
                    <i class="fas fa-chart-line me-2"></i> Dashboard
                </NavLink>
            </li>
            <li class="nav-item mb-1">
                <NavLink class="nav-link" href="/admin/users" @onclick="CloseSidebar">
                    <i class="fas fa-users-cog me-2"></i> Users
                </NavLink>
            </li>
            break;

        case UserRoles.Dispatcher:
            <li class="nav-item mb-1">
                <NavLink class="nav-link" href="/dispatcher/dashboard" Match="NavLinkMatch.All" @onclick="CloseSidebar">
                    <i class="fas fa-clipboard-list me-2"></i> Jobs
                </NavLink>
            </li>
            <li class="nav-item mb-1">
                <NavLink class="nav-link" href="/dispatcher/map" @onclick="CloseSidebar">
                    <i class="fas fa-map-marked-alt me-2"></i> Live Map
                </NavLink>
            </li>
            break;

        case UserRoles.Driver:
            <li class="nav-item mb-1">
                <NavLink class="nav-link" href="/driver/myjob" @onclick="CloseSidebar">
                    <i class="fas fa-truck-moving me-2"></i> My Job
                </NavLink>
            </li>
            break;

        case UserRoles.GuestUser:
            <li class="nav-item mb-1">
                <NavLink class="nav-link" href="/guest/request" @onclick="CloseSidebar">
                    <i class="fas fa-car-side me-2"></i> New Request
                </NavLink>
            </li>
            <li class="nav-item mb-1">
                <NavLink class="nav-link" href="/guest/status" @onclick="CloseSidebar">
                    <i class="fas fa-route me-2"></i> Track Driver
                </NavLink>
            </li>
            break;
    }
</ul>

@code {
    private async Task CloseSidebar()
    {
        await JS.InvokeVoidAsync("closeOffcanvasSidebar");
    }
}
