@using Microsoft.JSInterop
@inject IJSRuntime JS

<div id="@MapId" style="width:100%; height:400px;"></div>

@code {
    [Parameter] public string MapId { get; set; } = $"map_{Guid.NewGuid()}";
    [Parameter] public double Latitude { get; set; }
    [Parameter] public double Longitude { get; set; }
    [Parameter] public double FromLatitude { get; set; }
    [Parameter] public double FromLongitude { get; set; }
    [Parameter] public double ToLatitude { get; set; }
    [Parameter] public double ToLongitude { get; set; }
    
    [Parameter] public bool TowardSource { get; set; } // This will decide trail direction


    private bool mapInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !mapInitialized)
        {
            mapInitialized = true;
            await JS.InvokeVoidAsync("initMap", MapId, Latitude, Longitude, FromLatitude, FromLongitude, ToLatitude, ToLongitude, TowardSource);

            await JS.InvokeVoidAsync("updateDriverLocation", MapId, Latitude, Longitude);
        }
    }

    public async Task UpdateLocationAsync(double lat, double lng)
    {
        await JS.InvokeVoidAsync("updateDriverLocation", MapId, lat, lng);
    }
}
